<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%='hello world'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nihil reiciendis, vitae ex, debitis repudiandae
        quam numquam molestiae molestias, tempora magnam ea laboriosam odio repellendus animi esse provident sed
        doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit modi nulla earum tempore atque
        obcaecati commodi ullam magnam doloremque quasi. Ea dignissimos obcaecati provident debitis officiis cum dolorem
        delectus. Est.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sint aliquid mollitia neque facere omnis
        autem inventore cum? Explicabo vero fugit atque officia molestias? Adipisci similique fugiat voluptatum error
        dolorum!</p>
</body>

</html>